@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1304px;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1199px) {
  .main-navigation {
    width: 290px;
  }
  .main-content {
    margin-left: 314px;
  }
}
@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 565px) {
}
